<div class="bgimg1 parallax-container">
  <div class="lappis-intro-container">
    <h1>LAPPIS</h1>
    <p>Laboratory of Production, Research and Innovation in Software</p>
    <div class="buttons">

      <a class="btn btn-orange" href="#about-us">
        <i class="fa fa-users"></i>
        About us
      </a>

      <a class="btn btn-orange" href="#projects">
        <i class="fa fa-line-chart"></i>
        Projects
      </a>

      <a class="btn btn-orange" href="#partners">
        <i class="fa fa-heart"></i>
        Partners
      </a>

    </div>
  </div>
</div>

<div id="about-us">
  <h2>
    <i class="fa fa-users"></i>
    Who we are
  </h2>
  <p>
    The Advanced Laboratory for Production, Research and Innovation in Software (LAPPIS), located at
    the University of Brasília (UnB) was created in 2012 and was designed to work in technological areas
    from information systems to embedded systems, in particular, aiming at the opportunities in theoretical and applied research.
  </p>
  <p>
    LAPPIS aims to contribute to the development of software projects while complementing the training of
    software engineers (capable of dealing with problems when thinking about computational solutions and effectively implementing them),
    through agile methods, free software, security and people-centered collaborative work.
  </p>
  <p>
    With this, it offers undergraduate students in Software Engineering the opportunity to apply concepts and technologies
    in a real software production environment, under the guidance of expert teachers in the areas of the projects developed.
  </p>
</div>

<div id="projects">
  <h2>
    <i class="fa fa-line-chart"></i>
    Projects
  </h2>

  <p>
    LAPPIS has developed several projects over the years, each of which
    brought great challenges to be solved, but each one also had a special
    meaning and contributed to the growth of its members. Here are some of them:
  </p>

  <div class="projects-container">

    <div class="project">
      <a href="http://www.participa.br/" target="_blank">
        <img src="/images/participabr.png" / >
      </a>
    </div>

    <div class="project">
      <a href="https://fga.unb.br" target="_blank">
        <img src="/images/portal-fga.png" / >
      </a>
    </div>

    <div class="project">
      <a href="http://mezuro.org/pt" target="_blank">
        <img src="/images/mezuro.png" / >
      </a>
    </div>

  </div>

  <div class="projects-container">

    <div class="project">
      <a href="https://softwarepublico.gov.br/social/" target="_blank">
        <img src="/images/spb.png" / >
      </a>
    </div>

    <div class="project">
      <a href="http://noosfero.org/" target="_blank">
        <img src="/images/noosfero.png" / >
      </a>
    </div>

    <div class="project">
      <a href="http://gestorpsi.com.br/" target="_blank">
        <img src="/images/gestor-psi.png" / >
      </a>
    </div>
  </div>

  <div class="projects-container">

    <div class="project">
      <a href="https://colab.interlegis.leg.br/" target="_blank">
        <img src="/images/colab.png" / >
      </a>
    </div>

    <div class="project">
      <a href="http://juventude.gov.br/" target="_blank">
        <img src="/images/portal-da-juventude.png" / >
      </a>
    </div>

    <div class="project">
      <a href="http://www.analizo.org/" target="_blank">
        <img src="/images/analizo.png" / >
      </a>
    </div>

  </div>
</div>

<div class="bgimg2 parallax-container">
  <div id="blog">
    <h2>
      <i class="fa fa-quote-right"></i>
      Our Blog
    </h2>
    <p>
      LAPPIS is developing a blog where its members will share with you many software
      engineering experiences gained over the years.
    </p>
    <p>
      Do not waste time!
    </p>
    <div class="btn-container">
      <a class="btn btn-orange-reverse" href="https://fga.unb.br/lappis/engenharia-de-software" target="_blank">Visit our blog</a>
    </div>
  </div>
</div>

<div id="partners">
  <h2>
    <i class="fa fa-heart"></i>
    Partners
  </h2>
  <p>
    LAPPIS has had the support of several collaborators throughout its history.
    Some have gone their way while others continue to develop the projects and challenges
    that arise in the laboratory. Either way, they've all helped build a beautiful story
    that corroborates the fact that it's possible to make a work environment based on
    collaboration, trust and self-management and yet be <strong>extremely competitive</strong>.
  </p>
  <p>
    Here are the heros:
  </p>
  <div class="partners-container">

    <div class="partner">
      <img class="partner-photo" src="/images/prmm.jpg" />
      <p class="name">Paulo Meirelles</p>
      <div class="icons-container">
        <a class="contact-link" href="https://github.com/paulormm" target="_blank">
          <img class="icon" src="/images/github.ico" />
        </a>
        <a class="contact-link" href="https://gitlab.com/paulormm" target="_blank">
          <img class="icon" src="/images/gitlab.ico" />
        </a>
        <a class="contact-link" href="https://linkedin.com/in/paulormm/" target="_blank">
          <img class="icon" src="/images/linkedin.ico" />
        </a>
      </div>
    </div>

    <div class="partner">
      <img class="partner-photo" src="/images/hilmer.jpg" />
      <p class="name">Hilmer Neri</p>
      <div class="icons-container">
        <a class="contact-link" href="#" target="_blank">
          <img class="icon" src="/images/github.ico" />
        </a>
        <a class="contact-link" href="#" target="_blank">
          <img class="icon" src="/images/gitlab.ico" />
        </a>
        <a class="contact-link" href="#" target="_blank">
          <img class="icon" src="/images/linkedin.ico" />
        </a>
      </div>
    </div>

    <div class="partner">
      <img class="partner-photo" src="/images/carla.jpg" />
      <p class="name">Carla Rocha</p>
      <div class="icons-container">
        <a class="contact-link" href="#" target="_blank">
          <img class="icon" src="/images/github.ico" />
        </a>
        <a class="contact-link" href="#" target="_blank">
          <img class="icon" src="/images/gitlab.ico" />
        </a>
        <a class="contact-link" href="#/" target="_blank">
          <img class="icon" src="/images/linkedin.ico" />
        </a>
      </div>
    </div>

    <div class="partner">
      <img class="partner-photo" src="/images/fabio.jpg" />
      <p class="name">Fábio Macedo</p>
      <div class="icons-container">
        <a class="contact-link" href="#" target="_blank">
          <img class="icon" src="/images/github.ico" />
        </a>
        <a class="contact-link" href="#" target="_blank">
          <img class="icon" src="/images/gitlab.ico" />
        </a>
        <a class="contact-link" href="#/" target="_blank">
          <img class="icon" src="/images/linkedin.ico" />
        </a>
      </div>
    </div>

    <div class="partner">
      <img class="partner-photo" src="/images/edson.jpg" />
      <p class="name">Edson Alves</p>
      <div class="icons-container">
        <a class="contact-link" href="#" target="_blank">
          <img class="icon" src="/images/github.ico" />
        </a>
        <a class="contact-link" href="#" target="_blank">
          <img class="icon" src="/images/gitlab.ico" />
        </a>
        <a class="contact-link" href="#/" target="_blank">
          <img class="icon" src="/images/linkedin.ico" />
        </a>
      </div>
    </div>

    <div class="partner">
      <img class="partner-photo" src="/images/siqueira.jpg" />
      <p class="name">Rodrigo Siqueira</p>
      <div class="icons-container">
        <a class="contact-link" href="https://github.com/rodrigosiqueira" target="_blank">
          <img class="icon" src="/images/github.ico" />
        </a>
        <a class="contact-link" href="#" target="_blank">
          <img class="icon" src="/images/gitlab.ico" />
        </a>
        <a class="contact-link" href="https://www.linkedin.com/in/rodrigo-siqueira-033a5689/" target="_blank">
          <img class="icon" src="/images/linkedin.ico" />
        </a>
      </div>
    </div>

    <div class="partner">
      <img class="partner-photo" src="/images/tallys.jpg" />
      <p class="name">Tallys Martins</p>
      <div class="icons-container">
        <a class="contact-link" href="https://github.com/rodrigosiqueira" target="_blank">
          <img class="icon" src="/images/github.ico" />
        </a>
        <a class="contact-link" href="#" target="_blank">
          <img class="icon" src="/images/gitlab.ico" />
        </a>
        <a class="contact-link" href="https://www.linkedin.com/in/rodrigo-siqueira-033a5689/" target="_blank">
          <img class="icon" src="/images/linkedin.ico" />
        </a>
      </div>
    </div>

  </div>
</div>
