@import "font-awesome";

body {
    margin: 0;
}

.parallax-container {
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg1 {
    background-image: url("/images/bgimg1.jpg");
}

.bgimg2 {
    background-image: url("/images/bgimg2.jpg");
}

.lappis-intro-container {
    color: #fffff2;
    font-family: Impact, Charcoal, sans-serif;
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
}

.lappis-intro-container h1 {
    font-size: 4em;
    font-weight: 700;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 0;
}

.lappis-intro-container p {
    font-size: 2em;
    margin-top: 0;
}

.btn {
    cursor: pointer;
    font-family: Open Sans, sans-serif;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 22px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: inline-block;
}

.btn-orange {
    color: #fffff2;
    border: 2px #FF7F50 solid;
}

.btn-orange:hover {
    background-color: #FF7F50;
}

.btn-orange-reverse {
    color: #fffff2;
    border: 2px #FF7F50 solid;
    background-color: #FF7F50;
}

.btn-orange-reverse:hover {
    background-color: transparent;
}

.btn-container {
    text-align: center;
}

div#about-us, div#projects, div#blog, div#partners {
    font-family: Roboto, sans-serif;
    padding-left: 5em;
    padding-right: 5em;
}

div#about-us h2, div#projects h2, div#partners h2 {
    border-bottom: 1px solid rgba(0,0,0,0.87);
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 10px;
    padding-bottom: 10px;
}

div#about-us {
    color: rgba(0,0,0,0.87);
    padding-top: 2em;
}

div#projects {
    color: rgba(0,0,0,0.87);
    padding-top: 1em;
    padding-bottom: 3em;
}

div#projects div.projects-container {
    display: table;
    margin: auto;
}

div#projects div.projects-container div.project {
    display: table-cell;
    vertical-align: middle;
    padding: 1em 2em;
    text-align: center;
}

div#blog {
    color: #fffff2;
    float: right;
    padding-top: 6em;
    padding-bottom: 2em;
    width: 40%;
}

div#blog h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 10px;
    padding-bottom: 10px;
}

div#blog p {
    font-size: 1.5em;
}

div#partners {
    color: rgba(0,0,0,0.87);
    padding-top: 2em;
    padding-bottom: 3em;
}

div#partners div.partners-container {
    display: table;
    margin: auto;
    margin-top: 3em;
}

div#partners div.partners-container div.partner {
    display: table-cell;
    padding-right: 3em;
}

div#partners div.partners-container div.partner img.partner-photo {
    border-radius: 100%;
    height: 106px;
    width: 113px;
}

div#partners div.partners-container div.partner p.name {
    margin: 5px 0px;
    text-align: center;
}

div#partners div.partners-container div.partner div.icons-container {
    text-align: center;
}

div#partners div.partners-container div.partner div.icons-container a.contact-link {
    text-decoration: none;
}

div#partners div.partners-container div.partner div.icons-container a.contact-link img.icon {
    height: 16px;
    width: 16px;
    margin: 0px 4px;
}
